// Navbar Styles
.navbar-wrapper {
    width: 80vw;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    .name {
      font-weight: 600;
      padding-left: 100px;
    }
    .links-wrapper {
      button {
        text-decoration: none;
        padding: 5px;
        font-family: "Open Sans";
        opacity: 0.6;
        transition: all 0.2s ease-in-out;
        font-size: 20px;
        background-color: transparent;
        outline: none;
        border: 0px;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
      .active {
        color: black;
      }
    }
  }

  // Header Styles
  